<!-- <h1 *ngFor="let item of users">Name Is This :: {{item}}</h1>
<h1 *ngFor="let item of userDetails">{{item.name}} {{item.email}}  {{item.phone}}</h1> -->
<!-- <ul *ngFor="let user of userDetails">
    <li>{{user.name}}</li>
    <li>{{user.email}}</li>
    <li>{{user.phone}}</li>
    <li>Social</li>
    <ul *ngFor="let account of user.social">
        <li>{{account}}</li>
    </ul>
</ul> -->
<!-- <h1 [style.color]="color" [style.backgroundColor]="bgColor">color</h1>
<button (click)="changePro()">change</button> -->
<!-- <app-header></app-header> -->
<!-- <button (click)="toggle()">toggle</button>
<h1 *ngIf="disable">see</h1> -->
<!-- <input type="text" placeholder="enter the task" #task>
<br><br>
<button (click)="addTodo(task.value)">Add Task</button>
<ul *ngFor="let item of todoList">
    <li>{{item.name}} <button (click)="remove(item.id)">remove</button></li>
</ul> -->
<!-- <app-child [item]="data"></app-child>
<button (click)="updateChild()">update</button> -->
<!-- <ul *ngFor="let detail of userDetails1">
<app-user-details [item]="detail" ></app-user-details>
</ul> -->
<!-- <h1>{{data}}</h1>
<app-child2 (updateDataEvent)="updateData($event)"></app-child2> -->
<!-- <h1>{{title}}</h1>
<p>hey how are you </p>
<input type="text" [(ngModel)]="name">
<h1>{{name}}</h1> -->
<!-- creating aur custom pipes -->
<!-- <h1>{{20 | usdtoinr : 83.39}}</h1> -->
<!-- creating reactive form -->
<form [formGroup]="loginForm" (ngSumbit)="loginUser()">
<input type="text" name="user" formControlName="user"><br>
<span style="color: red;" *ngIf="user && user.invalid && user.touched">this field is not valid</span>
<br><br>
<input type="password" name="password" id="" formControlName="password">
<br><br>
<span style="color: red;" *ngIf="password && password.invalid && password.touched">this field is not valid</span>
<br><button [disabled]="loginForm.invalid">login</button>
</form>
<h1>user :: {{loginForm.value.user}}</h1>
<h1>password :: {{loginForm.value.password}}</h1>